#e45_1 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1440px;
	height:2103px;
	position:absolute;
}#e45_2 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(252.37695515155792, 252.37695515155792, 252.37695515155792, 1);
	opacity:1;
	width:1325px;
	height:1334px;
	position:absolute;
	left:60px;
	top:707px;
}#e45_3 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 204.00000303983688, 102.00000151991844, 1);
	opacity:1;
	width:188.316650390625px;
	height:61px;
	position:absolute;
	left:1189.428466796875px;
	top:69px;
}#e45_4 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:410px;
	height:87px;
	position:absolute;
	left:63px;
	top:58px;
	font-family:Verdana;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
	line-height:undefined;
}#e45_5 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:1400px;
	height:247px;
	position:absolute;
	left:63px;
	top:277px;
	font-family:Verdana;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
	line-height:undefined;
}#e45_6 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:1121px;
	height:89px;
	position:absolute;
	left:60px;
	top:524px;
	font-family:Verdana;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
	line-height:undefined;
}#e45_7 { 
	transform: rotate(-0.010691897097863938deg);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:726.000244140625px;
	height:0px;
	position:absolute;
	left:652px;
	top:172.135498046875px;
}#e45_8 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:188.316650390625px;
	height:39px;
	position:absolute;
	left:1189.428466796875px;
	top:80px;
	font-family:Verdana;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e45_9 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:120px;
	height:45px;
	position:absolute;
	left:1030px;
	top:80px;
	font-family:Verdana;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e45_10 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:200px;
	height:50px;
	position:absolute;
	left:802px;
	top:80px;
	font-family:Verdana;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e45_11 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:116px;
	height:66px;
	position:absolute;
	left:662px;
	top:79px;
	font-family:Verdana;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e45_12 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 204.00000303983688, 102.00000151991844, 1);
	opacity:1;
	width:250px;
	height:79.32489013671875px;
	position:absolute;
	left:128.2125244140625px;
	top:1905.685791015625px;
}#e45_13 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:260.9589080810547px;
	height:60.01767349243164px;
	position:absolute;
	left:128px;
	top:762px;
	font-family:Verdana;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e45_14 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:353.93646240234375px;
	height:60.017669677734375px;
	position:absolute;
	left:128px;
	top:998.0695190429688px;
	font-family:Verdana;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e45_15 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:260.9588623046875px;
	height:60.01767349243164px;
	position:absolute;
	left:763.8858642578125px;
	top:765.0008544921875px;
	font-family:Verdana;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e45_16 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:547.9016723632812px;
	height:89.0262222290039px;
	position:absolute;
	left:128.21246337890625px;
	top:838.7083740234375px;
}#e45_17 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:547.9016723632812px;
	height:89.0262222290039px;
	position:absolute;
	left:764.0983276367188px;
	top:838.7083740234375px;
}#e45_18 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:1183.7874755859375px;
	height:89.02621459960938px;
	position:absolute;
	left:128.21246337890625px;
	top:1074.77783203125px;
}#e45_19 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:1183.7874755859375px;
	height:288.0848388671875px;
	position:absolute;
	left:128.21246337890625px;
	top:1540.9151611328125px;
}#e45_20 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:353.93646240234375px;
	height:60.0177001953125px;
	position:absolute;
	left:128.21246337890625px;
	top:1463.8924560546875px;
	font-family:Verdana;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e45_21 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:1183.7874755859375px;
	height:89.0262451171875px;
	position:absolute;
	left:128.21246337890625px;
	top:1307.846435546875px;
}#e45_22 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:353.93646240234375px;
	height:60.017669677734375px;
	position:absolute;
	left:128px;
	top:1231.13818359375px;
	font-family:Verdana;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e45_23 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:115px;
	height:42px;
	position:absolute;
	left:185.2125244140625px;
	top:1924.685791015625px;
	font-family:Verdana;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
